<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/graphics.css}"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand center" href="#">Welcome to graphics center!</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row top-10">
        <div th:each="url : ${urls}" class="col-xs-3 col-md-2">
            <a href="#" class="thumbnail">
                <img th:src="${url}" th:alt="${url}"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>